version: "3.9"

services:
  nginx:
    image: nginx:stable
    container_name: reverse-proxy
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./tls:/etc/nginx/tls:ro
