version: "3.9"

services:
  nginx:
    image: nginx:stable
    container_name: reverse-proxy
    restart: unless-stopped

    ports:
      - "${NGINX_HTTP_PORT}:80"

    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
