version: "3.9"

services:
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped

    ports:
      - "${UPTIME_KUMA_PORT}:3001"

    environment:
      TZ: "${TZ}"

    volumes:
      - "${UPTIME_KUMA_DATA_DIR}:/app/data"

    healthcheck:
      test: ["CMD", "node", "extra/healthcheck.js"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s